.green-background {
  background-color: green;
}

.red-background {
  background-color: red;
}

.yellow-background {
  background-color: yellow;
}

.white-background {
  background-color: white;
}


.black-background {
  background-color: black;
  color: white;
}
